
2019-1 PROYECTO/RECONOCIMIENTO DE IMAGEN/posicion del rostro/models/shape_predictor_68_face_landmarks.dat
2019-1 PROYECTO/ANALISIS DE AUDIO/test.wav
2019-1 PROYECTO/RECONOCIMIENTO DE IMAGEN/posicion del rostro/python/test.wav
